.list {
  &__contact {
    margin: 1vh auto;
    color: #dfdff6;
    cursor: pointer;
    font-size: 2vh;
    background-color: rgba(167, 158, 158, 0.28);
    border-radius: 4px;

    &:hover {
      background-color: rgba(184, 171, 171, 0.78);
      border-radius: 4px;
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1vh;

      img {
        display: inline-block;
        width: 1vw;
        height: 1vw;
        cursor: pointer;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

    &-active {
      background-color: #dfdff6;
      color: #253861;
    }
  }
}